@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.leaflet-container {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
}

h1 {
  font-size: large;
  margin-left: 10px;
}

a#download {
  color: white;
  background: #002147;
  border: 1px solid grey;
  padding: 5px 10px;
  text-decoration: none;
}

a#download:hover {
  background: #111111;
}

div#blurb {
  position: absolute;
  z-index: 999;
  width: 100%;
  background: #002147;
  color: white;
  opacity: 0.8;
  padding-left: 50px;
}

div#blurb p {
  margin-left: 10px;
  margin-top: -7px;
  font-size: 11pt;
  width: 90%;
}

div#chooser {
  /* background: goldenrod; */
  padding-top: 5px;
  color: white;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  margin-top: 87px;
  line-height: 2.5;
  padding-left: 60px !important;
  z-index: 999;
}

div#chooser p {
  padding: 0;
  padding-bottom: 10px;
  margin-top: 7px;
  margin-bottom: 0px;
  float: left;
  margin-right: 10px;
}

select {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12pt;
}

input[type="range"] {
  margin-bottom: -1px;
}

div#lauInfo {
  background: #222;
  color: white;
  padding: 10px;
  min-width: 400px;
  position: absolute;
  z-index: 999;
  margin-top: 90vh;
  margin-left: 50px;
  border-radius: 7px;
  opacity: 0.8;
}

#legend > ul {
  list-style-type: none;
}

#legend {
  position: absolute;
  z-index: 999;
  right: 25px;
  top: 200px;
  padding: 0;
  margin: 0;
  background: rgba(60, 60, 60, 0.85);
  width: 110px;
  border-radius: 5px;
}
#legend li {
  font-size: 11pt;
  color: #eee;
  position: relative;
  display: flex;
  height: 20px;
  padding: 0 5px;
  margin-left: -25px;
}
#legend li::before {
  content: "";
  background-color: var(--color);
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

label {
  font-weight: bold;
}

div#aboutmodal {
  background: #002147;
  opacity: 0.9;
  color: white;
  padding: 20px;
  width: 80%;
  margin: auto;
  max-width: 600px;
  border-radius: 10px;
}

div#aboutmodal a { color: yellow }

button.button {
  background: #eeeeee;
  border: 1px solid grey;
  padding: 4px;
  margin-right: 5px;
}

button.button:hover {
  background: #dddddd;
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

@media only screen and (max-width: 600px) {
  div#blurb p { display: none; }
}
